.description {
  position: relative;
  box-sizing: border-box;
  margin-top: 74px;
  padding-top: 20px;
  aspect-ratio: 1320 / 856;
  background: url("../images/description/forest.png") top 20px right no-repeat;
  background-size: 610px 836px;

  @media screen and (max-width: 1439px) {
    background-size: auto calc(836 / 856 * 100%);
  }

  @media screen and (max-width: 767px) {
    padding: 40px 40px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr min-content 46px;
    row-gap: $titlePaddingBottomMobile;
    aspect-ratio: unset;
    min-height: 746px;
    background-size: auto 446px;
    background-position: top 120px right 40px;
  }

  @media screen and (max-width: 458px) {
    padding: 40px $sectionPaddingMobile 0 0;
    grid-template-rows: 80px 1fr min-content 46px;
    min-height: 706px;
    background-size: auto 348px;
    background-position: top 160px right 18px;
  }

  &__title {
    @extend %mainTitleH2;
    padding: 60px 0 $titlePaddingBottom;

    @media screen and (max-width: 1439px) {
      max-width: 330px;
    }

    @media screen and (max-width: 1023px) {
      max-width: 252px;
      padding: $titlePaddingBottomMobile 0;
    }

    @media screen and (max-width: 767px) {
      max-width: 460px;
      width: 100%;
      padding: 0;
    }
  }

  &__subtitle {
    @extend %paragraphTextStyle;
    padding-bottom: $titlePaddingBottom;

    @media screen and (max-width: 1439px) {
      max-width: 330px;
    }

    @media screen and (max-width: 1023px) {
      max-width: 252px;
      padding-bottom: $titlePaddingBottomMobile;
    }

    @media screen and (max-width: 767px) {
      max-width: 460px;
      padding: 0;
      grid-row-start: 3;
    }
  }

  &__button {
    position: relative;
    cursor: url("../images/icons/pointer.svg"), pointer;
    overflow: hidden;
    background-color: $bottonColor;
    border: none;
    border-radius: 4px;
    padding: 16px 46px;

    @media screen and (max-width: 1023px) {
      padding: 13px 46px;
    }

    @media screen and (max-width: 767px) {
      padding: 13px 100px;
      justify-self: center;
      width: fit-content;
      grid-row-start: 4;
    }

    &::after {
      content: "Подробнее";
      position: relative;
      color: $white;
      line-height: 18px;
      letter-spacing: 1px;
      font: {
        family: $fontFamily;
        weight: $semiBold;
        size: 14px;
      }

      @media screen and (max-width: 1439px) {
        font-size: calc(13px + 1 * (100vw / 1440));
      }

      @media screen and (max-width: 767px) {
        line-height: 19px;
        font-size: calc(13px + (1 * 1.4) * ((100vw - 320px) / 1440));
      }
    }

    &::before {
      box-sizing: border-box;
      content: "";
      border-radius: 4px;
      background-color: $bottonColorDark;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: transform .7s linear;
    }

    &:hover {
      &::before {
        transform: translateX(0);
      }
    }
  }

  &__bike {
    &-name {
      @include flex(row, space-between, center);
      padding-top: 167px;
      margin: 0;
      max-width: 356px;
      line-height: 18px;
      font: {
        family: $fontFamily;
        weight: $regular;
        size: 18px;
      }

      @media screen and (max-width: 1439px) {
        padding-top: 70px;
      }

      @media screen and (max-width: 1023px) {
        display: none;
      }

      .description__line {
        display: inline-block;
        max-width: 132px;
        width: 100%;
        border: 1px solid $borderColor;
      }
    }

    &-container {
      position: absolute;
      right: 0;
      bottom: 79px;
      max-width: 810px;
      width: 100%;
      min-height: 430px;

      @media screen and (max-width: 1439px) {
        bottom: calc(79 / 856 * 100%);
        max-width: calc(810 / 1320 * 100%);
        min-height: calc(430 / 856 * 100%);
      }

      @media screen and (max-width: 767px) {
        bottom: calc((37 / 746 * 100%) + 180px);
        max-width: calc(260 / 302 * 100%);
        min-height: calc(300 / 746 * 100%);
      }

      @media screen and (max-width: 560px) {
        max-width: 100%;
      }

      @media screen and (max-width: 425px) {
        bottom: calc((37 / 746 * 100%) + 198px);
      }
    }

    &-fix {
      position: sticky;
      top: 347px;
      box-sizing: border-box;
      background-color: $backgroundColor;
      box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
      padding: $cardPadding 50px;
      border-radius: 20px;
      width: 440px;

      @media screen and (max-width: 1439px) {
        top: calc(347 / 856 * 100%);
        width: calc(440 / 1440 * 100vw);
      }

      @media screen and (max-width: 1023px) {
        padding: 15px 32px;
      }

      @media screen and (max-width: 767px) {
        padding: 10px 26px;
        width: 300px;
      }

      @media screen and (max-width: 425px) {
        width: 234px;
      }
    }

    &-image {
      display: block;
      width: 100%;
    }
  }
}