.header {
  position: fixed;
  z-index: 2;
  background-color: $backgroundColor;
  box-sizing: border-box;
  @include flex(row, flex-end, flex-start);
  max-width: 1440px;
  width: 100%;
  padding: 28px $sectionPadding;

  @media screen and (max-width: 640px) {
    padding: 25px $sectionPaddingMobile;
  }

  &__nav-bar {
    @include flex(row, space-between, flex-start);
    max-width: 400px;
    width: 100%;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__link {
    line-height: 18px;
    font: {
      family: $fontFamily;
      weight: $medium;
      size: 14px;
    }
    text-decoration: none;
    color: $mainTextColor;
    opacity: 1;
    transition: opacity .3s linear;

    &:hover {
      cursor: url("../images/icons/pointer.svg"), default;
      opacity: .75;
    }
  }

  &__menu {
    &-button {
      display: none;
      min-height: 19px;

      .header__menu-line {
        opacity: 1;
        visibility: visible;
        transition: transform .5s ease-in-out, opacity .3s ease-in-out, visibility .5s ease-in-out;
      }

      @media screen and (max-width: 640px) {
        @include flex(column, space-between, center);
      }
      
      &:hover {
        cursor: url("../images/icons/pointer.svg"), pointer;
        
        .header__menu-line {
          opacity: .75;
        }
      }

      &_opened {
        .header__menu-line {
          &:nth-of-type(1) {
            transform: translateY(8px) rotateZ(45deg);
          }
          
          &:nth-of-type(3) {
            transform: translateY(-8px) rotateZ(-45deg);
          }

          &:nth-of-type(2) {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
    
    &-line {
      background-color: $mainTextColor;
      width: 22px;
      height: 3px;
    }
  }
}